.paging{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 32px;
    padding: 18px 30px 18px 18px;
    background: #ffffff;
}

.paging-right,.paging-right-index,.paging-right-button {
    display: flex;
    align-items: center;
    justify-content: start;
}

.paging-right-combobox{
    margin: 0 16px;
}

.paging>button {
    border: none;
    background: none;
    outline: none;
}

.paging-disable{
    cursor: default !important;
    color: #9e9e9e;
}

.paging-right-button button {
    background: none;
}

.paging-right-button .active {
    border: 1px solid #e0e0e0;
    font-weight: 700;
}

.paging-right-combobox .button {
    font-weight: 400;
}

.paging .dropdown-items {
    overflow: unset;
}

ul.el-pager.is-first.is-last>li:hover {
    color: #111111;
}

ul.el-pager.is-first.is-last>li {
    font-size: 13px;
    min-width: 24px;
    height: 24px !important;
    padding: 0 !important;
    margin: 0;
    border: 1px solid white;
}

li.is-active.number {
    border: 1px solid #e0e0e0 !important;
    color: #111111;
    font-weight: 600;
}