.cash-header-tab>ul {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 0;
    margin: 0;
    transform: translateY(1px);
}

.cash-header-tab>ul>li>a {
    width: max-content;
    display: inline-block;
    color: #111111;
}

.cash-header-tab>ul>li>a {
    display: inline-block;
    padding: 15px 20px; 
}

.cash-header-tab-active{
    border-bottom: 4px solid #2ca01c;
}

.cash-header-tab>ul>li>a:hover {
    color: #2ca01c;
}

.cash-header {
    background: #eceef1;
    padding-top: 14px;
    box-sizing: border-box;
    border-bottom: 2px solid #D4D7DC;
    position: relative;
    z-index: 1;
}

.cash-header-tab li {
    list-style: none;
}

.cash-header-tab>ul>li>a.active-item-menu {
    border-bottom: 4px solid green;
    box-sizing: border-box;
}