.button {
    height: 34px;
    border: none;
    border-radius: 3px;
    background-color: #2CA01C;
    color: #FFFFFF;
    padding: 6px 16px;
    min-width: 80px;
    font-size: 13px;
    font-family: notosan-regular;
    font-weight: 500;
    transition: all 0.25s ease;
    font-weight: 600;
}

.button:hover {
    background-color: #35BF22;
    cursor:pointer;
}

.button:active{
    background-color: #248b15;
    color:#fff;
}

.background-icon-reload{
    background: url(../../assets/img//Sprites.64af8f61.svg) no-repeat -424px -200px;
}

.background-icon-excel{
    background: url(../../assets/img//Sprites.64af8f61.svg) no-repeat -704px -200px;
}

button:hover>.background-icon-excel{
    background: url(../../assets/img//Sprites.64af8f61.svg) no-repeat -704px -256px;
}

button:hover>.background-icon-reload{
    background: url(../../assets/img//Sprites.64af8f61.svg) no-repeat -1096px -88px;
}

.background-icon-question{
    background: url(../../assets/img//Sprites.64af8f61.svg) no-repeat -88px -144px;
}

.background-icon-close{
    background: url(../../assets/img//Sprites.64af8f61.svg) no-repeat -144px -144px;
}

.button-white {
    border: 1px solid #8d9096;
    color: #111;
    background-color: transparent;
    padding: 6px 16px;
    height: 34px;
    border-radius: 3px;
    font-weight: 600;
}

.button-white:hover {
    background-color: #d2d3d6;
}

.button-white:active {
    background-color: #bbbcbc;
}

.button:focus {
    outline: 2px solid #e2e2e2;
}

.notify-question-button button {
    min-width: auto;
}

button.button-white:focus {
    outline: 2px solid #e2e2e2;
}