.combobox-container {
    display: flex;
    align-items: center;
    border: 1px solid #babec5;
    height: 32px;
    overflow: hidden;
    border-radius: 2px;
    justify-content: space-between;
    box-sizing: border-box;
    background: white;
}

.combobox-actions>button {
    background: none;
    height: 32px;
    width: 32px;
}

.combobox-actions>button>span {
    display: flex;
    align-items: center;
    justify-content: center;
}

.combobox-actions {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.combobox-actions>button:hover {
    background: #E0E0E0;
}

.combobox-actions {
    width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.combobox-actions>button:hover {
    background: #E0E0E0;
}

input[type="text"] {
    margin: 0 !important;
}

.combobox-container-input {
    padding-left: 10px;
    width:100%;
}

input[type="text"]:disabled {
    background: none;
    color: #000000;
}

.combobox {
    display: flex;
    flex-direction: column;
    width: fit-content;
    position: relative;
}

.dropdown-container button {
    width: 100%;
}

.dropdown-items {
    padding: 2px 0;
    border: 1px solid #babec5;
    background: white;
    overflow-y: scroll;
    max-height: 232px;
}

button.button-combobox:hover {
    color: #35bf22;
    background-color: #EBEDF0;
}

.dropdown-item .button {
    background: none;
    color: #000000;
    padding: 10px 14px;
    text-align: start;
    font-size: 13px;
}

.button.button-active {
    background-color: #2CA01C!important;
    color: #fff!important;
}

.combobox .button-combobox {
    border-radius: 0;
}

.dropdown-container {
    position: absolute;
    width: 100%;
}

.dropdown-container {
    bottom: 34px;
}

.background-icon-arrow-bottom-active{
    background-position: -563px -359px;
}

.dropdown-container {
    z-index: 999;
}

.combobox-field {
    color: #111;
    padding-bottom: 4px !important;
    font-weight: 700;
    font-size: 12px;
}
.combobox-container {
    border: 1px solid #EBEBEB;
}

.combobox-container:focus-within {
        border: 1px solid #2ca01c;
}

.combobox-container-input>input {
    width: 100% !important;
}




.dropdown-items::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: #F1F1F1;
}
  
.dropdown-items::-webkit-scrollbar-thumb{
    background-color:#B8BCC3;
}
  
.dropdown-items::-webkit-scrollbar-thumb:hover{
    background-color:#888888;
}

.bottom .background-icon-arrow-bottobase-active {
    transform: rotate(180deg);
    background-position: -562px -359px;
}

.top .icon-16.background-icon-arrow-bottobase {
    transform: rotate(180deg) !important;
}

.top span.background-icon-arrow-bottom.icon-16 {
    transform: rotate(180deg);
    background-position: -562px -359px;
}

.top .background-icon-arrow-bottom-active {
    transform: rotate(0deg) !important;
    background-position: -557px -359px !important;
}



.header .background-icon-arrow-bottom-active {
    background-position: -560px -359px !important;
}

.bottom .background-icon-arrow-bottom-active {
    background-position: -562px -359px;
    transform: rotate(180deg);
}