.tabs>ul {
    display: flex;
    align-items: flex-end;
    justify-content: start;
    margin: 0;
    padding: 0;
}

.tabs>ul>li {
    list-style: none;
    position: relative;
    background: 0 0;
    border: 1px solid #c9ccd2;
    cursor: pointer;
    transition: all .2s ease;
    z-index: 0;
    font-size: 13px;
    padding: 0 8px;
    height: 26px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: max-content;
    margin: 0 1px;
}

.tabs>ul>li.is-active {
    background: #cce4f9;
    height: 32px;
}

.tabs>ul>li:hover {
    color: #2ca01c;
}