.process-left-content-center-img{
    background-image: url('../../../assets/img/qt_TienMat.1f64b87b.svg');
    background-repeat: no-repeat;
    height:340px;
    position: relative;
}

.process {
    display: flex;
    justify-content: center;
}

.process-right {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-left: 10px;
    width: 300px;
    height: 460px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.process-left {
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    width: 690px;
    height: 380px;
}

.process-title{
    text-transform: uppercase;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 1px solid #e5e5e5;
}

.process-left-content-center-img>div {
    width: 90px;
    padding-top: 60px;
    position: absolute;
    transition: all .2s ease;
    text-align: center;
    padding-bottom:10px;
}

.process-left-content-center-img>.receive {
    top: 40px;
    left: 90px;
}

.process-left-content-center-img>.audit {
    top: 125px;
    left: 335px;
    width: 125px!important;
}

.process-left-content-center-img>.payment {
    top: 215px;
    left: 90px;
}

.process-left-content-center-img>div:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
}

.cash-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 56px - 68px);
    transform: translateX(-12px);
}

.process-right-content {
    flex: 1;
    overflow: auto;
    min-height: 0;
}

.process-right-content>ul {
    margin: 0;
    padding: 0 16px;
}

.process-right-content>ul>li {
    display: flex;
    align-items: center;
    padding: 16px 0;
    height: 74px;
    box-sizing: border-box;
}

.process-right-content>ul>li:not(:first-child) {
    border-top: 1px solid #e5e5e5;
}

.process-right-content>ul>li:hover {
    cursor: pointer;
    color: #0075c0;
}

.process-right-content>ul>li:before {
    content: "\2022";
    color: #646464;
    font-size: 24px;
    margin-right: 12px;
}

.process-right-bottom {
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: #0075c0;
}

.process-left-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    margin-top: 10px;
    height: 70px;
}

.process-left-bottom>a {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-grow: 1;
    height: 70px;
}

.process-left-bottom>a:not(:last-child) {
    border-right: 1px solid #e5e5e5;
}

.process-left-bottom>a:hover {
    cursor: pointer;
    box-shadow: 0 3px 6px rgb(0 0 0 / 25%);
}