.input-container-field-label {
    color: #111;
    padding-bottom: 4px;
    font-weight: 700;
    font-size: 12px;
}

input[type="text"] {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    margin: 0 12px;
}

input {
    padding-left: 10px;
    flex-grow:1;
    width:100%;
    box-sizing: border-box;
}

.input-container-content {
    display: flex;
    border: 1px solid #EBEBEB;
    height: 36px;
    overflow: hidden;
    border-radius: 2px;
    box-sizing: border-box;
    width: max-content;
    align-items: center;
    justify-content: space-between;
}

.input-container-content:hover {outline: 1px solid #e2e2e2;}

.input-container-content:focus-within {
    border: 1px solid #2ca01c;
    outline: none;
}

.input-container-error {
    font-size: 12px;
    margin-top: 8px;
    font-weight: 400;
    color: #E61D1D;
}

.input-icon-search{
    background: url(../../../assets/img/Sprites.64af8f61.svg) no-repeat -315px -146px;
}

.content-center {
    background-color: #fff;
}

input::placeholder {
    font-size: 12px;
    font-style: italic;
}

.input-container-content {
    width: 100%!important;
}