.button {
    height: 36px;
    border: none;
    border-radius: 4px;
    background-color: #50B83C;
    color: #FFFFFF;
    padding: 6px 16px;
    min-width: 80px;
    font-size: 14px;
    font-weight: 500;
}

.button:hover {
    background-color: #57C841;
    cursor:pointer;
}