.paging{
    display:flex;
    align-items:center;
    justify-content:space-between;
    height:32px;
    padding: 18px 32px 18px 18px;
}

.paging-right,.paging-right-index,.paging-right-button {
    display: flex;
    align-items: center;
    justify-content: start;
}

.paging-right-combobox{
    margin: 0 16px;
}

.paging>button {
    border: none;
    background: none;
    outline: none;
}

.paging-disable{
    cursor: default !important;
    color: #9e9e9e;
}

.paging-right-button button {
    background: none;
}

.paging-right-button .active {
    border: 1px solid #e0e0e0;
}

.paging-right-combobox .button {
    font-weight: 400;
}