.table-header {
  overflow: hidden;
  position: relative;
  border: 0px;
  width: 100%;
  display: flex;
  align-items: center;
}

.table-content{
  margin: 0 30px 0 20px;
  box-sizing: border-box;
  overflow: hidden;
  height: calc(100vh - 68px - 82px - 45px - 24px - 48px);
}

.tr {
  display: flex;
  width: fit-content;
}

.tbody {
  overflow: scroll;
  height: calc(100vh - 68px - 82px - 45px - 24px - 48px - 34px);
}

.tbody::-webkit-scrollbar {
  width: 6px;
  height:6px;
  background-color: #F1F1F1;
}

.tbody::-webkit-scrollbar-thumb{
  background-color:#D4D7DC;
}

.tbody::-webkit-scrollbar-thumb:hover{
  background-color:#888888;
}

.th {
  height: 34px;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  display: flex;
  align-items: center;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 12px;
  font-weight: 600;
  background-color: #e5e8ec;
}

.td {
  height: 44px;
  border-right: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  padding: 0 10px;
  line-height: 44px;
  box-sizing: border-box;
  font-size: 13px;
  display: flex;
  align-items: center;
}

.table-container {
  overflow: hidden;
}

.table-container .button {
  font-weight: 600;
  display: inline-block;
  transition: all .25s ease;
  padding: inherit;
  min-width: fit-content;
  color: #0075c0;
}

.table-container .combobox .combobox-container {
  min-width: fit-content;
  width: fit-content !important;
  border: none;
}

.table-container .combobox .dropdown-container {
  width:120px !important;
  right:-10px;
  height: max-content;
} 

.table-container .combobox .dropdown-container .dropdown-item {
  height: 28px;
  padding: 5px 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: start;
}

.table-container .combobox .dropdown-container .dropdown-item .button {
  padding: 0 10px !important;
  font-weight: 500;
  color: #111111;
  height: 28px;
  width:100%;
}

.table-container .combobox .dropdown-container .dropdown-item .button:hover {
  color: #35bf22;
  background: #E0E0E0;
}

.tbody button {
  background: none;
  height: auto;
  width: fit-content;
}

.tbody button:hover {
  background: none;
}

.tbody.combobox-actions-button:focus, 
.table-function>button:focus {
  border: 1px solid #0075c0;
  border-radius: 0;
}

.td.table-function {
    display: flex;
    align-items: center;
    justify-content: center;
}

.tbody .combobox {
    padding-left: 5px;
    border-left: 1px solid white;
    margin-left: 5px;
}

.tbody .tr:hover {
  background: #F2F9FF;
}

.tbody .tr .combobox-container {
  background: none;
}

.table.checkbox {
  width: 18px!important;
}