

.position-sticky{
    position:sticky;
    z-index:2;
    background:#ffffff;
}

.left-60{
    left:60px;
}


.table-content {
    width: 100%;
    position: relative;
}

td,th {
    box-sizing: border-box;
    border-right:1px solid #c7c7c7;
    border-bottom:1px solid #c7c7c7;
    padding:0 10px;
    box-sizing: border-box;
}

.content-table {
    background: #ffffff;
    flex-grow: 1;
}

table {
    border-spacing: 0;
    background: #ffffff;
    width: max-content;
}

thead>tr>th {
    background: #E5E8EC !important;
    height: 34px;
}

tbody>tr{
    height: 44px;
    box-sizing: border-box;
}


.fake-cloumn{
    z-index: 99 !important;
    border:none;
    background: #ffffff !important;
}

.r-30{
    right:-30px;
}

tbody>tr>td {
    height: 44px !important;
}

td.td.table-function {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

td.td.table-function>button {
    font-weight: 600;
    position: relative;
    color: inherit;
    display: inline-block;
    transition: all .25s ease;
    white-space: nowrap;
    font-size: 13px;
    padding: 6px 0px 6px 16px;
    min-width: auto;
}

td.td.table-function>.combobox>.combobox-container {
    width: fit-content !important;
    outline: none;
    height: 24px;
    border: none;
    background:none;
}

td.td.table-function>.combobox>.combobox-container .combobox-actions-button {
        padding: 8px 10px !important;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 18px;
        background: none;
}

.td.td.table-function>.combobox>.combobox-container .combobox-actions-button .background-icon-arrow-bottom {
    background-position: -898px -359px;
}

tbody .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
    width:18px !important;
}

td.td.table-function>button {
    background: none;
    height: 24px;
    margin-right: 3px;
}

td.td.table-function>.combobox>.combobox-container .combobox-actions-button:focus-within {
    border: 1px solid #0075c0;
}

td.td.table-function .combobox-actions {
    padding-left: 5px;
    border-left: 1px solid white;
}

td.td.table-function>button:focus-within>span {
    border: 1px solid #0075c0;
}

td.td.table-function button:focus-within {
    outline: none;
}

td.td.table-function {
    color: #0075c0;
}

.table-function .dropdown-items {
    width: max-content;
}

.table-function .dropdown-container {
    right: 211%;
    top: 23px !important;
}

.table-function .dropdown-container span {
    font-weight: 400;
}

thead th {
    font-size: 12px;
}

tbody tr:hover>td:not(:first-child) {
    background: #E5F3FF;
}

tbody tr>td:nth-child(3) {
    position: sticky;
    left: 60px;
    background: #ffffff;
}

.table-function {
    position: sticky;
    right: 30px;
    background: #ffffff;
    z-index: 5;
    border-left: 1px solid #c7c7c7;
}

.border-right-none{
    border-right:none;
}

.background-container{
    background-color:#ECEEF1 !important;
}

thead>tr>th {
    position: sticky;
    top: -24px;
    z-index: 15 !important;
}

thead>tr>th:nth-child(2),thead>tr>th:nth-child(3) {
    z-index: 17 !important;
}

.table-function:focus-within {
    z-index: 8;
}

td.td.table-function .button.button-active {
    color: #111111 !important;
    background: none !important;
}

td.td.table-function .button.button-active:hover {
    background: #EBEDF0 !important;
}

th.text-align-center {
    text-align: center;
}

td.text-align-center>div {
    display: flex;
    justify-content: center !important;
}

tr>td, tr>th {
    text-align: left;
}