@font-face {
    font-family: 'notosan-regular';
    src: url('./assets/fonts/notosans-regular.2cb88a13.woff2');
    color:#111;
}

@font-face {
    font-family: 'notosan-italic';
    src: url('./assets/fonts/notosans-italic.1c1aaac9.woff2');
}

@font-face {
    font-family: 'notosan-bold';
    src: url('./assets/fonts/notosans-bold.3ede5aff.woff2');
}

body{
    padding:0;
    margin:0;
    font-family: 'notosan-regular';
    font-size: 13px;
    color:#111111;
}

button,input,textarea,select{
    outline:none;
    border:none;
}

::-webkit-scrollbar-thumb{
    background-color:#D4D7DC;
}

::-webkit-scrollbar-thumb:hover{
    background-color:#888888;
}

button{
    cursor: pointer;
}

a {
    text-decoration: none;
}

input,textarea{
    font-family: 'notosan-regular';
    font-size: 13px;
    color:#111111;
}

.m-r-8{
    margin-right:8px;
}

.icon-mr-12{
    margin-right:12px;
}

div#app {
    display: flex;
}

.icon-14{
    width: 14px;
    height:14px;
}

.icon-16{
    width: 16px;
    height:16px;
}

.icon-20{
    width: 20px;
    height: 20px;
}

.icon-24{
    width:24px;
    height:24px;
}

.icon-32{
    width:32px;
    height:32px;
}

.icon-mr-8{
    margin-right:8px;
}

.icon-mr-10{
    margin-right: 10px;
}

.icon-ml-10{
    margin-left: 10px;
}

.background-icon{
    background-image: url('assets/img/Sprites.64af8f61.svg');
}

.background-position-delete{
    background-position: -464px -313px;
}

.main {
    width: calc(100% - 178px);
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.background-icon-arrow-bottom{
    transition:all 0.2s ease;
    background: url(assets/img/Sprites.64af8f61.svg) no-repeat -558px -359px;
}

.background-icon-close-small{
    background: url(assets/img/Sprites.64af8f61.svg) no-repeat -84px -316px;
}

.background-checked{
    background: url(assets/img/Sprites.64af8f61.svg) no-repeat -896px -312px;
}

.w-h-48{
    width:48px;
    height:48px;
}

.w-40{
    width:40%!important;
    box-sizing: border-box;
}

.w-60{
    box-sizing: border-box;
    width:60% !important;
}

.w-25{
    box-sizing: border-box;
    width:25% !important;
}

.w-14{
    box-sizing: border-box;
    width:14px!important;
}

.box-sizing-b{
    box-sizing: border-box;
}

.w-100{
    box-sizing: border-box;
    width:100% !important;
}

.p-b-12{
    padding-bottom:12px;
}

.w-200{
    width: 200px !important;
}

.p-r-6{
    padding-right:6px!important;
}

.p-r-26{
    padding-right:26px!important;
}

.m-l-10{
    margin-left: 10px;
}

.p-r-6-5 {
    padding-right: 6.5px !important;
}

.w-2\/3 {
    width: 66.66667%!important;
}

.flex{
    display:flex;
    justify-content: start;
    align-items: center;
}

.w-1\/3 {
    width: 33.33333%!important;
}

.w-1\/4 {
    width: 25%!important;
}

.d-flex{
    display:flex;
}

.flex-wrap{
    display:flex;
    flex-wrap:wrap;
}

.w-1\/2 {
    width: 50%!important;
}

.flex-grow-1{
    flex-grow: 1;
}

.main-container{
    padding-left:20px;
    box-sizing: border-box;
    background-color: #ECEEF1;
    height: calc(100vh - 56px);
}

.input-error .el-input__wrapper, .input-error{
    border-color:red !important;
}

.background-icon-combobox-black{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -561px -360px;
}

.background-icon-customer{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -872px -202px;
}

.background-icon-customer{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -876px -202px;
}

.background-icon-supplier{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -928px -202px;
}

.background-icon-employee{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -984px -202px;
}

.background-icon-setting{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -648px -201px;
}


.background-icon-bottom-white {
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -845px -359px;
}

.w-h-24{
    width:24px;
    height:24px;
    display:flex;
}

.background-icon-filter{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -1817px -208px;
}

.icon-ml-5{
    margin-left:5px;
}

.background-icon-setting{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -88px -199px;
}

.background-icon-setting:hover{
    background-position: -88px -255px;
}

.background-icon-load-data{
    background: url('/src/assets/img/Sprites.64af8f61.svg') no-repeat -425px -201px;

}

.p-r-12 {
    padding-right: 12px;
}

.h-24{
    height:24px;
}

.w-h-16{
    width:16px;
    height:16px;
}

.w-1\/6 {
    width: 16.66667%!important;
}

.p-b-6-5{
    padding-bottom: 6.5px;
}

.text-right{
    text-align: right;
}

.p-t-30{
    padding-top:30px;
}