.form-header-left-title{
    font-size: 24px;
    color: #111;
    font-weight: 700;
}

.form-header-left{
    padding:20px 12px 20px 32px;
}

.form {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    background: white;
    width: 900px;
    min-width: 900px;
    max-width: 900px;
}

.form-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-header-left {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
}

label.checkbox-container {
    width: max-content;
    display: block;
}

.form-header.checkbox {
    padding: 0 1.5em;
}

.form-header .checkbox {
    padding: 0 1.5em;
}

.form-header-right .button {
    background: none;
    padding: 0;
    margin: 0;
    min-width: auto;
}

.form-header-right span {
    display: flex;
    align-items: center;
}

.form-header-right {
    padding: 12px;
}

.form-header-right>button:first-child {
    margin-right: 6px;
}

.form-header-right .button:hover {
    background: none;
}

input {
    flex-grow: 1;
}

.form-content {
    padding: 0 32px 0 32px;
}

.form-content-top {
    display: flex;
    align-items: center;
    padding-bottom: 12px;
}

.form-content-top-left {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    box-sizing: border-box;
    padding-right: 26px;
}

.form input{
    padding-left:10px;
    padding-right:12px;
}

.form-content-top-left .combobox-container {
    width: 100% !important;
}

.form .combobox {
    width: 100%;
}

.form-content-top>div>div {
    padding-bottom: 12px;
}

.form-content-top-right {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    width: 50%;
}

.form-gender {
    padding: 5px 0px 6px 10px;
}

.form-gender-title {
    font-weight: 700;
    font-size: 12px;
}

.form-gender>div:last-child {
    height: 32px;
}

.form-content-cennter {
    padding: 0 32px 32px 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid #e0e0e0;
}

.form-content-cennter>div {
    margin-bottom: 12px;
}

.form-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 32px;
}